@model UserLoginDTO

@{
    Layout = null;
    Response response = ViewBag.Response;
}

}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kullanıcı Girişi-Araç Kiralama</title>


    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/css/login.css" rel="stylesheet" />
</head>
<body class="text-center">

   
    <form method="post" asp-action="Login" class="form-signin">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Kullanıcı Girişi</h1>
        <label for="inputEmail" class="sr-only">E-Posta Adresi</label>
        @Html.TextBoxFor(model => model.EMail, new { @class = "form-control" })


        <label for="inputPassword" class="sr-only">Parola</label>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })


        <div>
            @if (response != null)
            {
                <message-box is-success="@response.IsSuccess" message="@response.Message"></message-box>
            }
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>



</body>
</html>
